.o_form_view .o_form_sheet_bg > .o_form_sheet {
    min-width: 1800px;
    max-width: 1140px;
    min-height: 330px;
    border: 1px solid #c8c8d3;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    background: white;
    overflow: hidden;
    margin: 4.8px auto;
    padding: 24px;
    padding-right: 16px;
    padding-left: 16px;
   }
